.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .nav-link {
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-item:first-child {
    margin-top: 1.5rem;
  }

  .navbar-collapse {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  .navbar-nav {
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
